@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Dodaj ogłoszenie +", "Create", "AdvertisementModel")</li>
    <li>
        @Html.ActionLink("Witaj, " + User.Identity.GetUserName() + "!", "UserDetails", "Home", routeValues: null, htmlAttributes: new { title = "Zarządzaj kontem" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
