@model IEnumerable<AdvertisingPortal.Models.AdvertisementModel>
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel użytkownika</h2>

<p align="right"><a href="/Manage/Index">Ustawienia</a></p>
<table class="table">
    <tr>
        <th>
            Minitura
        </th>
        <th>
            Ogłoszenie
        </th>

        <th>
            Cena
        </th>
        <th>Data dodania</th>
        <th>Aktywne</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/UploadedFiles/@item.Files.Path" height="50" />
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.ID, controller = "AdvertisementModel" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
            @if (item.ToNegotiate == true) {
                @Html.Raw(" do negocjacji");
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddTime)
        </td>
        <td>
            @if (item.Active == true) {
                @Html.Raw("Tak")
            }
            else {
                @Html.Raw("Nie")
            }
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID, controller = "AdvertisementModel" }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.ID, controller = "AdvertisementModel" }) |
            @if (item.Active == true) {
                @Html.ActionLink("Zakończ", "Deactivate", new { id = item.ID, controller = "AdvertisementModel" })
            }
            else {
                @Html.ActionLink("Wznów", "Activate", new { id = item.ID, controller = "AdvertisementModel" })
            }

        </td>
    </tr>
    }
</table>

