@model AdvertisingPortal.Models.CompleteUserModel

@{
    ViewBag.Title = "Informacje o koncie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Informacje o koncie</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.user.Id)
    <div class="width-form">
    <div class="form-group">
        <label>E-mail</label>
            @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Imię</label>
            @Html.EditorFor(model => model.userInfo.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userInfo.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Nazwisko</label>
            @Html.EditorFor(model => model.userInfo.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userInfo.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Numer telefonu</label>
            @Html.EditorFor(model => model.userInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userInfo.PhoneNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
<label>Miasto</label>
            @Html.EditorFor(model => model.userInfo.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.userInfo.City, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <p align="right"><input type="submit" value="Zapisz" class="btn btn-primary" /></p>
        </div>
    </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

