@model AdvertisingPortal.Models.CompleteUserModel

@{
    ViewBag.Title = "ConfirmDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userInfo.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userInfo.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userInfo.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.City)
        </dd>

    </dl>

    @using (Html.BeginForm(Model.user.Id, "UserModel/Delete")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
