@model AdvertisingPortal.Models.CompleteUserModel

@{
    ViewBag.Title = "Usuwanie użytkownika - "+ @Html.DisplayFor(model => model.user.Email);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jesteś pewien, że chcesz usunąć tego użytkownika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.LastName)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.PhoneNumber)
        </dd>

        <dt>
            Miasto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.City)
        </dd>
    </dl>

    @using (Html.BeginForm(Model.user.Id, "UserModel/Delete")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-primary" />
        </div>
    }
</div>
