@model AdvertisingPortal.Models.UserModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "UserModel", FormMethod.Post)) {
<table>
    <tr><td>First name:</td><td>@Html.TextBoxFor(m => m.FirstName)</td></tr>
    <tr><td>Last name</td><td>@Html.TextBoxFor(m => m.LastName)</td></tr>
    <tr><td>Phone noumber:</td><td>@Html.TextBoxFor(m => m.PhoneNumber)</td></tr>
    <tr><td>E-mail:</td><td>@Html.TextBoxFor(m => m.Email)</td></tr>
    <tr><td>City:</td><td>@Html.TextBoxFor(m => m.City)</td></tr>
    <tr><td></td><td><input type="submit" value="Add" /></td></tr>
</table>
}
