@model AdvertisingPortal.Models.CompleteUserModel

@{
    ViewBag.Title = "Szczegóły użytkownika - " + @Html.DisplayFor(model => model.user.Email);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Szczegóły użytkownika</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Email)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.LastName)
        </dd>

        <dt>
            Numer telefonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.PhoneNumber)
        </dd>

        <dt>
            Miasto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.City)
        </dd>

        <dt>
            Grupy:
        </dt>
        <dd>
            @foreach (var item in ViewBag.roles) {
                @Html.Raw(@item.RoleName + ", ")
            }
        </dd>
        </dl>
</div>
<p>
    <a href="/UserModel/Edit/@Html.DisplayFor(modelItem => Model.user.Id )"><button type="button" class="btn btn-success btn-sm">Edytuj</button></a>
    <a href="/UserModel/ConfirmDelete/@Html.DisplayFor(modelItem => Model.user.Id )"><button type="button" class="btn btn-success btn-sm">Usuń</button></a>
</p>
