@model AdvertisingPortal.Models.AdvertisementModel

@{
    ViewBag.Title = "Usuwanie ogłoszenia - " + @Html.DisplayFor(i => Model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Jesteś pewien, że chcesz usunąć to ogłoszenie?</h4>
    <hr />
    <div style="float: left; width: 500px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">@Html.DisplayFor(model => model.Category.Name)</li>
        </ol>
        <img src="~/UploadedFiles/@Html.DisplayFor(model => model.Files.Path)" width="500" />

        <hr />
        <h4 style="float:left">@Html.DisplayFor(model => model.Title)</h4>
        <p style="float:right" align="right">@Html.DisplayFor(model => model.AddTime)</p>
        <div style="clear: left"></div>
        <div class="jumbotron" style="white-space: pre-line; padding: 0px 10px 50px 20px">
            @Html.DisplayFor(model => model.Content)
        </div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <p align="right"><input type="submit" value="Usuń" class="btn btn-primary" /></p>
            </div>
        }
    </div>

    <div style="clear:both"></div>


</div>
