@model AdvertisingPortal.Models.AdvertisementModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdvertisementModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToNegotiate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToNegotiate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt></dt>
        <dd>
            @if (ViewBag.AddedToFavourites == false) {
                @Html.ActionLink("Dodaj do ulubionych", "AddToFavourite", new { id = Model.ID, controller = "UserModel" })
            }
            else {
                @Html.ActionLink("Usuń z ulubionych", "RemoveFromFavourites", new { id = Model.ID, redirect = 1, controller = "UserModel" })
            }
        </dd>
        <dt>


        </dt>
        <dd>
            <img src="~/UploadedFiles/@Html.DisplayFor(model => model.Files.Path)" height="400" />
        </dd>

        @if (ViewBag.showAdminitiveTools == true) {
            @Html.ActionLink("Usuń", "Delete", new { id = Model.ID })
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>
